body {
	height: 98.8vh;
	width: 98.8vw;
	display: grid;
	grid-template-rows: 1fr 7fr 0.1fr;
	gap: 5px;
	background-color: #121212;
}

header {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 5px;
}

.logoContainer {
	background-color: #121212;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profileInfo {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.searchBar {
	background-color: #121212;
	display: flex;
	justify-content: right;
	align-items: center;
	margin-right: 10px;
}

.magnifyingGlass {
	height: 50px;
	width: 50px;
	padding-right: 30px;
}

.search {
	width: 450px;
	height: 25px;
	border-radius: 30px;
	background-color: lightgray;
	color: black;
}

.usernameInfo {
	background-color: #121212;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right {
	margin-right: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 500px;
}

button {
	height: 55px;
	width: 110px;
	font-size: 20px;
	border-radius: 30px;
	color: #121212;
	background-color: white;
}

.left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 20px;
}

.anotherFuckingContainer {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

.usernameGreeting {
	color: white;
	font-size: 20px;
}

.username {
	color: white;
	font-size: 30px;
}

.profilePic {
	height: 120px;
	width: 120px;
	border-radius: 100px;
	margin-bottom: 10px;
}

main {
	grid-row-start: 2;
	grid-row-end: 3;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 5px;
}

.dashboard {
	background-color: #121212;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.dashboardContainer1 {
	display: flex;
	flex-direction: column;
	height: 30vh;
	justify-content: space-evenly;
	align-items: left;
	width: 190px;
}

.dashboardContainer1 > * {
	color: white;
	font-size: 30px;
	margin: 15px;
}

.bigDaddyContainer {
	display: grid;
	grid-template-rows: 1fr 4fr;
	gap: 5px;
}

.dashboardContainer2 {
	display: flex;
	flex-direction: column;
	height: 25vh;
	justify-content: space-evenly;
	align-items: left;
	width: 190px;
}

.dashboardContainer2 > * {
	color: white;
	font-size: 30px;
	margin: 10px;
}

.profile {
	background-color: #121212;
}

.projects {
	background-color: #121212;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projectInfo {
	color: white;
	font-size: 40px;
}

.projectContainer {
	background-color: #121212;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.projectContaienrInfo {
	background-color: lightslategray;
	width: 335px;
	left
}

footer {
	background-color: #121212;
}

.footer {
	color: white;
	text-align: center;
}
